<p class="text-center">Choose a town and a kitchen</p>
<div
  class="border d-flex align-items-center justify-content-center"
  style="height: 350px;"
>
  <div>
    <form [formGroup]="chooseForm">
      <label for="town">Select a town</label>
      <select id="town" class="form-control" formControlName="town">
        <option *ngFor="let town of towns" value="{{town}}">{{town.charAt(0).toUpperCase()+town.slice(1)}}</option>
      </select>
      <label for="kitchen">Select a kitchen</label>
      <select id="kitchen" class="form-control" formControlName="kitchen">
        <option *ngFor="let kitchen of kitchens" value="{{kitchen}}">{{kitchen.charAt(0).toUpperCase()+kitchen.slice(1)}}</option>
      </select>
      <button class="btn btn-primary btn-md" [hidden]="chooseForm.invalid" (click)="choice()">Select</button>
    </form>
  </div>
</div>
