<p class="text-center">Choose</p>
<div
  class="border d-flex align-items-center justify-content-center"
  style="height: 350px;"
>

  <div class="col-sm-1">
    <button class="btn btn-primary" routerLink="food-start" type="button">Food</button>
  </div>

  <div class="col-sm-1">
    <button class="btn btn-secondary" routerLink="question-start" type="button">Question</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-success" routerLink="users" type="button">Users</button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-info" routerLink="recommendations" type="button">Recommendations</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-dark" routerLink="cities" type="button">Cities</button>
  </div>

</div>
