<p class="text-center">Admin for questions</p>
<div
  class="border d-flex align-items-center justify-content-center"
  style="height: 350px;"
>
  <div>
    <label for="cuisine">Select a cuisine</label>
    <select [(ngModel)]="selectedcuisine" class="form-control" id="cuisine">
      <option *ngFor="let cuisine of cuisines"
              value="{{cuisine}}">{{cuisine.charAt(0).toUpperCase() + cuisine.slice(1)}}</option>
    </select>
    <button [hidden]="!selectedcuisine" class="btn btn-primary btn-md"
            routerLink="/admin/question-list/{{selectedcuisine}}">Select
    </button>
  </div>
</div>

