<p class="text-center">Admin for questions</p>
<div
  class="border d-flex align-items-center justify-content-center"
  style="height: 350px;"
>
  <div>
    <label for="kitchen">Select a kitchen</label>
    <select [(ngModel)]="selectedKitchen" class="form-control" id="kitchen">
      <option *ngFor="let kitchen of kitchens"
              value="{{kitchen}}">{{kitchen.charAt(0).toUpperCase() + kitchen.slice(1)}}</option>
    </select>
    <button [hidden]="!selectedKitchen" class="btn btn-primary btn-md"
            routerLink="/admin/question-list/{{selectedKitchen}}">Select
    </button>
  </div>
</div>
