<p class="text-center">Choose a town and a kitchen</p>
<div
  class="border d-flex align-items-center justify-content-center"
  style="height: 350px;"
>
  <div>
    <form [formGroup]="chooseForm">
      <label for="town">Select a town</label>
      <select class="form-control" formControlName="town" id="town">
        <option *ngFor="let town of towns" value="{{town}}">{{town.charAt(0).toUpperCase() + town.slice(1)}}</option>
      </select>
      <label for="kitchen">Select a kitchen</label>
      <select class="form-control" formControlName="kitchen" id="kitchen">
        <option *ngFor="let kitchen of kitchens"
                value="{{kitchen}}">{{kitchen.charAt(0).toUpperCase() + kitchen.slice(1)}}</option>
      </select>
      <button (click)="choice()" [hidden]="chooseForm.invalid" class="btn btn-primary btn-md">Select</button>
    </form>
  </div>
</div>
