<p class="text-center">Cities</p>

<button class="btn btn-md btn-warning" routerLink="/admin/city-add/" type="button">Add City</button>
<div *ngFor="let city of cityAll" class="row justify-content-center text-center h-100">
  <div class="col-md-4 text-center my-auto">
    <div class="card card-block d-flex" style="height: 120px">
      <div class="fw-bold card-body align-items-center d-flex justify-content-center">
        {{city.name}}
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary" routerLink="/admin/city-modify/{{city.name}}"
                type="button">Modify
        </button>
      </div>
      <div class="text-end">
        <button (click)="deleteCity(city.name)" class="btn btn-sm btn-danger">Delete</button>
      </div>

    </div>

  </div>
</div>

