
<p class="text-center ">Modify Food restaurants {{foodName}}</p>
<div class="row justify-content-center text-center h-100">
  <div class="col-sm-auto text-center my-auto">
    <button (click)="addRestaurant()" class="btn-warning btn btn-md">Add restaurant</button>
    <form [formGroup]="restaurantsForm" >
      <div formArrayName="restaurants" >
        <div *ngFor="let restaurant of restaurants.controls;let i=index">
          <div [formGroupName]="i">
            <input type="text" formControlName="restaurant" class="form-control"  >

          </div>
          <div class="text-end">
            <button (click)="delete(i)" class="btn btn-danger btn-sm ">Delete</button>
          </div>
        </div>
      </div>
      <button (click)="done()" class="btn btn-sm btn-success" [hidden]="restaurantsForm.invalid">Submit</button>
    </form>
  </div>
</div>
{{this.restaurantsForm.value | json}}
